* {
    margin: 0;
    padding: 0;
}

.App {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(120deg, lightgreen, rgb(198, 198, 119), rgb(202, 172, 117), lightblue);
}

.board-row {
    background-color: black;
    display: flex;
}

.square {
    background-color: black;
    min-height: 10vh;
    min-width: 10vh;
    border: 1px solid white;
    color: aliceblue;
    font-size: 2rem;
}

.status {
    font-size: 0.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    font-weight: 500;
}