* {
    margin: 0;
    padding: 0;
}

.App {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(lightgreen, lightblue);
}

.board-row {
    background-color: black;
    display: flex;
}

.square {
    background-color: black;
    min-height: 10vh;
    min-width: 10vh;
    border: 1px solid white;
    color: aliceblue;
    font-size: 2rem;
}